:root{
    --chat-background-color: #3C3CA1
}

.text-black {
    color: black;
}

.header{
    background-color: var(--chat-background-color);
}

.body{
    flex:8;
}

.inbox{
    transition: all 1s;
}

.h-threeFour{
    height: 75%;
}

.bg-linear-gradient{
    background: linear-gradient(45deg, rgb(130, 82, 250) 0%, rgb(236, 162, 241) 99%, rgb(236, 162, 241) 100%);
}
